@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  background: #eaecee;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
}

/* 
* {
  margin: 0px;
  padding: 0px;
  font-family: Tahoma, Courier, monospace;
  color: white;
}

.layout {
  width: 80% auto;
  background-color: gray;
}

.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: 75px;
  background-color: rgb(0, 0, 0);
}

.navbar {
  display: flex;
}

.navbar li {
  cursor: pointer;
  line-height: 75px;
  margin-left: 50px;
  margin-right: 50px;
  list-style: none;
  transition: 500ms;
}

.navbar li a {
  text-decoration: none;
}

.title {
  margin-left: 50px;
  line-height: 75px;
  transition: 350ms;
}

.container * {
  color: black;
}

.container {
  padding: 25px;
  min-height: 600px;
  margin: 25px;
  border: 5px lightgray solid;
  border-radius: 20px;
  background-color: white;
}

.container h1 {
  margin-bottom: 15px;
}

.main {
  color: black;
}

.footer {
  height: 75px;
  background-color: black;
  display: flex;
  justify-content: center;
  line-height: 75px;
}

.navbar li:hover {
  transform: scale(1.1);
  color: lightgray;
}

.title:hover {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .header {
    display: block;
    min-height: 150px;
  }

  .title {
    margin: 0px;
  }

  .navbar {
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .header {
    min-height: 350px;
  }
  .navbar {
    display: block;
    min-height: 250px;
  }
  .navbar li {
    height: 20px;
    padding: 10px;
  }
}

#root {
  background-color: gray;
}

.form {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 400px;
  padding: 10px;
  display: grid;
  background-color: lightgray;
  border: 2px gray solid;
  border-radius: 5px;
}

.form * {
  margin: 3px;
}

.form input[type="submit"] {
  background-color: rgb(41, 125, 252);
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.contact-comment {
  background-color: lightgray;
  border: 2px gray solid;
  border-radius: 5px;
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.form-error {
  color: red;
  font-size: 12px;
}

.form-success {
  margin-top: 5px;
  text-align: center;
}

.form-success strong {
  color: green;
}

.form-valid {
  background-color: green !important;
}

.navactived{
  font-weight: bold;
  color: orange
} */